{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'feed/assets/css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'feed/assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'feed/assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'feed/assets/css/animation.css' %}">
    <link rel="website icon" type="png" href="static/home/images/logo.png">
    <link rel="shortcut icon" href="static/home/images/logo.png" type="image/png">
    <link rel="icon" href="static/home/images/logo.png" sizes="32x32" type="image/png">
    <meta name="google-adsense-account" content="ca-pub-7871394796063576">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="static/home/images/logo.png">
    <title> Uniflex | feedback</title>
</head>
<body>
    <main class="overflow-hideen">
            <div class="animationTrigger container position-relative popup" onclick="window.location.href='{% url 'core:home' %}'">                
            <div class="wrapper">
                <div class="row">
                    <div class="col-md-5 dt-45 pe-0 order_c tab-100">
                        <div class="sideImg">
                            <img src="{% static 'feed/assets/images/arr (4).jpg' %}" alt="user">
                        </div>
                    </div>
                    <div class="col-md-7 dt-55 ps-0 tab-100">
                        <div class="rating">
                            <article class="ratingTxt">
                                <h1 class="mainHeading">
                                    Give Feedback
                                </h1>
                                <p class="ratingdesc">What do you think of the UniAbujaFlex?</p>
                            </article>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <div class="ratingicons">
                                    <img class="pop" src="{% static 'feed/assets/images/ratingGifPng/happy1.png' %}" alt="emoji">
                                    <img class="pop delay-100" src="{% static 'feed/assets/images/ratingGifPng/happy2.png' %}" alt="emoji">
                                    <img class="pop delay-200" src="{% static 'feed/assets/images/ratingGifPng/happy3.png' %}" alt="emoji">
                                    <img class="pop delay-300" src="{% static 'feed/assets/images/ratingGifPng/happy4.png' %}" alt="emoji">
                                    <img class="pop delay-400" src="{% static 'feed/assets/images/ratingGifPng/sad.png' %}" alt="emoji">
                                </div>
                                <div class="inputField">
                                    <label class="ratingdesc" for="feedback">Do you have thoughts you'd like to share?</label>
                                    {{ form.feedback }}
                                </div>
                                <div class="sendCancel">
                                    <button id="sub" type="submit">Send</button>
                                    <button class="cancel" type="button" onclick="window.location.href='{% url 'core:home' %}'">Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cross">
                X
            </div>
        </div>
    </main>
    <footer style="bottom: 0; align-content: center; background-color: yellowgreen;">
        <h6 style="text-align: center;"><p><span>UniAbujaFlex</span>&copy; <span>2024</span> All Rights Reserved</p></h6>
    </footer>
   <script src="{% static 'feed/assets/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'feed/assets/js/jQuery/jquery-3.6.4.min.js' %}"></script>
    <script src="{% static 'feed/assets/js/custom.js' %}"></script>
</body>
</html>