amqp
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
colorama
Django
django-crontab
gunicorn
kombu
packaging
pillow
prompt-toolkit
python-dateutil
pytz
redis
schedule
shortuuid
six
slug
slugify
sqlparse
tzdata
vine
wcwidth
dj-database-url
django-jazzmin
pip-tools
whitenoise
boto3
botocore
django-storages
python-decouple
psycopg2-binary
django-environ
crcmod
pycryptodome
pycparser
idna
charset-normalizer
certifi
requests
cffi
cryptography
aliyun-python-sdk-core
aliyun-python-sdk-kms
oss2
python-dotenv
django-sslserver
