{% extends 'home/mian.html' %}
{% load static %}

{% block container %}
<div class="analyse" >
    <div class="sales"style="border:brown solid 1px;">
        <span class="material-icons-sharp" style="color: red;">location_on</span>
        <span>Old boys  university of lagos</span>
    </div>
    <div class="sales"style="border:brown solid 1px;">
        <span class="material-icons-sharp" style="color: red;">location_on</span>
        <span>Old girls  university of lagos</span>
    </div>
    <div class="sales"style="border:brown solid 1px;">
        <span class="material-icons-sharp" style="color: red;">location_on</span>
        <span>Etf</span>
    </div>
    <div class="sales"style="border:brown solid 1px;">
        <span class="material-icons-sharp" style="color: red;">location_on</span>
        <span>Faculty Of Art</span>
    </div>
    <div class="sales"style="border:brown solid 1px;">
        <span class="material-icons-sharp" style="color: red;">location_on</span>
        <span>Faculty Of Science</span>
    </div>
</div>
{% endblock container %}