<h2>{{ department.name }}</h2>
{% if courses %}
    <ul>
        {% for course in courses %}
            <li>{{ course.course_code }}</li>
        {% endfor %}
    </ul>
    {% for course in courses %}
        <h3>{{ course.course_code }}</h3>
        {% if course.e_book_set.all %}
            <ul>
                {% for ebook in course.e_book_set.all %}
                    <li>{{ ebook.title }}</li>
                    <p>{{ ebook.description }}</p>
                    <a href="{{ ebook.file.url }}">Download</a>
                {% endfor %}
            </ul>
        {% else %}
            <p>No e-books available for this course.</p>
        {% endif %}
    {% endfor %}
{% else %}
    <p>No courses available for this department.</p>
{% endif %}


{% comment %} {% for faculty in faculties %}
    <h2>{{ faculty.name }}</h2>  <!-- Display faculty details and link to departments -->
	<a href="{% url 'library:department_list' faculty_id=faculty.id %}">View Departments</a>
{% endfor %} {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Responsive Dashboard Design #1 | AsmrProg</title>
</head>

<body>

    <div class="container">

        <!-- End of Sidebar Section -->

        <aside>
            <div class="toggle">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}">
                    <h2>UniAbuja<span class="danger">Flex</span></h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="sidebar">
                <a href="{% url 'library:faculty_list' %}" class="active">
                    <span class="material-icons-sharp">book</span>
                    <h3>book</h3>
                </a>
                <a href="{% url 'location:location_list' %}">
                    <span class="material-icons-sharp">map</span>
                    <h3>Map</h3>
                </a>
                <a href="#">
                    <span class="">login</span>
                    <h3>Login</h3>
                </a>
            </div>
        </aside>
        

        <!-- Main Content -->
        <main>
            <h1>E - LIBRARY</h1>
            <!-- Analyses -->

            <!-- End of Analyses -->

            <!-- New Users Section -->`
            <div class="new-users">
                <h2>Departmnet of {{ department.name }}</h2>
                <marquee behavior="" direction="left">
                    <ul>
                        {% for course in courses %}
                          <span>{{ course.course_code }},</span>
                        {% endfor %}
                    </ul>
                </marquee>
                <div class="user-list">
                    <div class="analyse">
                        {% for faculty in faculties %}
                            <div class="sales" style="border: red solid 1px; background-image: url('{{ faculty.image.url }}'); background-size: cover; background-position: center center;" alt="">
                                <div class="status">
                                    <div class="info">
                                        <h3  ><a href="{% url 'library:department_list' faculty_id=faculty.id %}"><b style="color: black; height: 10px; width: auto; background-color: wheat; border: black solid 1px; border-radius: 10px 10px; padding: 2px 2px;">{{ faculty.name }}</b></a></h3>
                                    </div>
                                    <div class="progresss">
                                        <svg>
                                            <circle cx="38" cy="38" r="36"></circle>
                                        </svg>
                                        <div class="percentage">
                                            <p style="color: red; height:auto; width: auto; background-color: wheat; border: black solid 1px; border-radius: 10px 10px; padding: 2px 2px;">{{ faculty.num_departments }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <!-- End of New Users Section -->

            <!-- Recent Orders Table -->

            <!-- End of Recent Orders -->

        </main>
        <!-- End of Main Content -->

        <!-- Right Section -->
        <div class="right-section">
            <div class="nav">
                <button id="menu-btn">
                    <span class="material-icons-sharp">
                        menu
                    </span>
                </button>
                <div class="dark-mode">
                    <span class="material-icons-sharp active">
                        light_mode
                    </span>
                    <span class="material-icons-sharp">
                        dark_mode
                    </span>

            </div>
            <!-- End of Nav -->



        </div>


    </div>

    <script src="{% static 'orders.js' %}"></script>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>