{% extends 'Auth/main.html' %}

{% block title %}
Uniabuja - signup
{% endblock title %}


{% block signup %}

<div class="signup-section">
    <header>Signup</header>

    <div class="social-buttons">
        <button><i class='bx bx-user'></i> ADMIN</button>
    </div>

    <div class="separator">
        <div class="line"></div>
        <p>Or</p>
        <div class="line"></div>
    </div>

                <!-- Display form errors -->


    <form method="post">
        {% csrf_token %}

            <input type="text" name="matric_number" class="form-control" placeholder="Matric Number" required>

            <input type="email" name="email" class="form-control" placeholder="Email address" required>


            <input type="password" name="password1" class="form-control" placeholder="Password" required>

            <input type="password" name="password2" class="form-control" placeholder="Confirm Password" required>

        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
    

</div>

{% endblock signup %}

{% block login %}
        <div class="login-section">
            <header>Login</header>

            <div class="social-buttons">
                <button><i class='bx bx-user'></i> ADMIN</button>
            </div>

            <div class="separator">
                <div class="line"></div>
                <p>Or</p>
                <div class="line"></div>
            </div>


        
            <form method="post" action="{% url 'user:sign-in' %}">
                {% csrf_token %}
                <input type="text" name="matric_number" class="form-control" placeholder="Matric Number" required>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
                <a href="#">Forget Password?</a>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

        </div>

{% endblock login %}
